<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define targets -->
	<targets>
		<!-- Console logging -->
		<target name="console" xsi:type="Console" layout="${longdate} [${level}] ${message}" />

		<!-- File logging -->
		<target name="file" xsi:type="File" fileName="logs/logfile.txt"
				layout="${longdate} [${level}] ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Define logging rules -->
	<rules>
		<!-- Log all messages with a minimum level of Debug to console -->
		<logger name="*" minlevel="Debug" writeTo="console" />

		<!-- Log all messages with a minimum level of Info to file -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
